@import url("https://fonts.googleapis.com/css?family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  overflow: hidden;
  background: #1e1e1e;
  font-family: "Bebas Neue", "Poor Story";
}

#contentContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#backgroundBox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
  left: 0;
  top: 0;
  filter: grayscale(100%);
}

.fix {
  font-size: 1.3rem;
  position: absolute;
  cursor: pointer;
}

#logo {
  left: 3%;
  top: 3%;
  z-index: 10;
  width: 80px;
  height: 50px;
  background: url("../img/logo.png") no-repeat;
  background-size: 100% 100%;
}

#nav {
  right: 3%;
  top: 3%;
  z-index: 10;
}

#works {
  right: 3%;
  bottom: 3%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 40px;
}

.worksCircle {
  width: 5px;
  background: white;
  transition: 0.5s;
}
.worksCircle:first-of-type {
  height: 30px;
}
.worksCircle:nth-of-type(2) {
  height: 15px;
}
.worksCircle:last-of-type {
  height: 5px;
}
#works:hover .worksCircle:first-of-type {
  height: 5px;
  transition: 0.5s;
}
#works:hover .worksCircle:last-of-type {
  height: 30px;
  transition: 1s;
}
#mainConText {
  position: absolute;
  left: 3%;
  bottom: 5%;
  font-family: "Tinos", "Poor Story" !important;
}

.textCover {
  overflow: hidden;
}

h2 {
  font-size: 5rem;
  transform-origin: center top;
}

#text1 {
  font-size: 1.5rem;
  transform-origin: center top;
}

#text2 {
  font-size: 1.1rem;
  transform-origin: center top;
}

#pictureBox {
  width: 40%;
  height: 60%;
  position: absolute;
  left: 30%;
  top: 20%;
}

#hoverBox {
  width: 40%;
  height: 60%;
  position: absolute;
  left: 30%;
  top: 20%;
}

#pictureBox #leftPicBox {
  width: 40%;
  height: 90%;
  background-image: url("../img/text1.jpg");
  background-size: 200% 100%;
  position: absolute;
  left: 10%;
  top: 0;
  transition: 0.5s;
}

#pictureBox #rightPicBox {
  width: 40%;
  height: 90%;
  background-image: url("../img/text1.jpg");
  background-size: 200% 100%;
  position: absolute;
  right: 10%;
  top: 10%;
  background-position: -100% 0;
  transition: 0.5s;
}

#pictureBox:hover #rightPicBox {
  top: 5%;
  transition: 0.5s;
}

#pictureBox:hover #leftPicBox {
  top: 5%;
  transition: 0.5s;
}

#numberList {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  right: 30px;
  width: 50px;
  height: 400px;
  top: calc(50% - 200px);
  list-style: none;
  font-family: "Tinos";
  font-size: 0.9rem;
}

#numberList .number {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  position: relative;
  transition: 0.5s;
  cursor: url(../img/licursor.gif) 50 50, auto;
}

.numberOn {
  opacity: 1 !important;
  transition: 0.5s;
}

#numberList .numberOn:after {
  content: "";
  width: 50px;
  height: 2px;
  border-bottom: 1px solid white;
  position: absolute;
  right: -100px;
  top: calc(50% - 2px);
  transition: 0.5s;
  animation-name: after;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes after {
  from {
    right: -100px;
  }

  to {
    right: -50px;
  }
}

#introBox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  transform-origin: center top;
}

#introText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

#introExit {
  position: absolute;
  font-size: 1.3rem;
  color: white;
  right: 3%;
  top: 3%;
  display: none;
  cursor: pointer;
}

#aboutBox {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: ivory;
  left: 0;
  top: 0;
  z-index: 11;
  transform-origin: center top;
  transform: skewX(-30deg) rotateX(-120deg);
}

.aboutTextBox {
  overflow: hidden;
}

.aboutText {
  transform-origin: center top;
  transform: skewY(-30deg) rotateX(90deg);
  font-family: "Nanum Gothic";
  font-weight: 600;
}

#aboutExit {
  position: absolute;
  font-size: 1.5rem;
  color: black;
  right: 3%;
  top: 3%;
  cursor: pointer;
}

#worksBox {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #1e1e1e;
  left: 0;
  top: 0;
  z-index: 11;
  transform-origin: center top;
  transform: skewX(-30deg) rotateX(-120deg);
}

#worksExit {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  right: 3%;
  top: 3%;
  cursor: pointer;
}

#aboutTextCon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
  font-size: 1.5rem;
}

.aboutTextBox {
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutText {
  color: black;
}

#iconBoxCon {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 10%;
  top: 75%;
}

.iconBox {
  width: 100px;
  height: 100px;
  background: tomato;
  position: relative;
  transition: 1s;
}

.iconBoxText {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: ivory;
  color: black;
  transition-delay: 0.4s;
}

.iconBox:hover {
  transform: rotateY(180deg);
  transition: 1s;
}

.iconBox:hover .iconBoxText {
  transition-delay: 0.4s;
  z-index: 1;
}

.iconBox:hover .iconBoxPic {
  transition-delay: 0.4s;
  z-index: 2;
}

.iconBoxPic {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center center;
  transform: rotateY(180deg);
  z-index: 1;
}

.html {
  width: 100%;
  height: 100%;
  background: ivory url("../img/html5.png");
  background-size: 100% 100%;
}

.css {
  width: 100%;
  height: 100%;
  background: ivory url("../img/css3.jpeg");
  background-size: 100% 100%;
}

.js {
  width: 100%;
  height: 100%;
  background: ivory url("../img/vanilla_js.jpg");
  background-size: 100% 100%;
}

.react {
  width: 100%;
  height: 100%;
  background: ivory url("../img/react-logo.png");
  background-size: 100% 100%;
}

.jquery {
  width: 100%;
  height: 100%;
  background: ivory url("../img/jquery.gif");
  background-size: 100% 100%;
}

#worksBox {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: ivory;
  left: 0;
  top: 0;
  z-index: 11;
  transform-origin: center top;
  transform: skewX(-30deg) rotateX(-120deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#worksExit {
  color: black;
}

.workList {
  font-size: 2.3rem;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: center center;
}

.workList:hover {
  transition: 0.5s;
  color: black;
  transform: skewY(15deg) rotateY(-20deg);
}

.workDetail {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #1e1e1e;
  position: absolute;
  left: 0;
  top: -100vh;
  z-index: 12;
  color: white;
  opacity: 0;
  transition: 1.5s;
}

.workDetailExit {
  color: white;
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 1.3rem;
  cursor: pointer;
}

#detailMain {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.centerBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.detailName {
  font-size: 7rem;
}

.detailBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .row > div {
  width: 45%;
  height: 40vh;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .row > div > img {
  width: 100%;
  height: 100%;
}

.container .row > div > p {
  width: 90%;
  height: 90%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
#toTop {
  position: absolute;
  right: 3%;
  bottom: 3%;
  width: 25px;
  height: 35px;
  background: url("../img/toTop.png") no-repeat;
  background-size: 100% 100%;
}
